* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
  background-color: #F7F9F9;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

header {
  background-color: #F8F8F8;
  border-bottom: 1px solid #eb7a71;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 113px;
}

.logo {
  font-family: 'Monoton', cursive;
  text-decoration: none;
  font-size: 30px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  text-align: right;
}

nav>ul>li>a:active {
  color: #07D8DE;
}

/* headings */
h1, h2, h3, h4 {
  line-height: 1.4;
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.25em;
  padding-top: 0.5em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

/*image */
img {
  width: 100%;
}

/* links and buttons */
a {
  color: #eb7a71;
}

a:visited {
  /* visited link */
  color: #eb7a71;
}

a:hover,
a:focus {
  color: #2B6B82;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #2B6B82;
}

.button {
  background-color: transparent;
  padding: 10px 30px;
  border: 2px solid #2B6B82;
  border-radius: 3px;
  transition: 0.2s opacity;
  display: inline-block;
  text-decoration: none;
  transition-duration: 0.2s opacity;
}

.button:hover {
  background-color: #2B6B82;
  color: #ffffff;
  opacity: 0.8;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid #eb7a71;
  padding: 16px 0;
  margin-top: 48px;
  text-align: center;
}

.social a i {
  padding: 15px;
  font-size: 2em;
  margin-top: 0.5em;
}

.social a {
  text-decoration: none;
}

.container {
  padding: 0 5%;
}

.story img {
  width: 100%;
  float: left;
  padding-bottom: 100px;
}

/*Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero {
  padding: 0px 0;
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: #f2f2f2;
}

#hero img {
  padding-bottom: 20px;
}

#hero h1 {
  margin: 0;
  padding: 0.67rem 0;
  text-align: center;
}

#hero span.smallh1 {
  display: block;
  margin-top: 1em;
  font-size: 70%;
}

.color1 {
  color: #FF5F19;
}

.color2 {
  color: #8613F0;
}

.color3 {
  color: #07D8DE;
}

#header p {
  padding-bottom: 2em;
}

#story p {
  display: inline-block;
}

/*portfolio */
.indent {
  background-color: #000;
  color: #fff;
  padding: 1em;
  margin-left: -20px;
}

.video {
  width: 100%;
  height: 362px;
}

ul {
  padding-left: 20px;
}

.listspace li {
  margin: 1em 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  body {
    font-size: 20px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 6px;
  }

  main {
    padding-top: 79px;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about-page h2 {
    margin: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #hero .row, #header .row {
    display: flex;
  }

  #hero .column, #header .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  h2 {
    background-color: #000;
    color: #fff;
    padding: 30px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .fullheading {
    background-color: #000;
    color: #fff;
    padding: 0.8em 0;
  }

  .textlarge {
    max-width: 70%;
    margin: 0 auto;
  }

  footer h2 {
    background-color: transparent;
    color: #000;
  }

  .mth3 {
    margin-top: 1.7em;
  }

  p {
    padding-top: 1em;
  }

  #story p, #skills .row {
    padding-left: 30px;
    padding-right: 30px;
  }

  #story a {
    margin-left: 30px;
  }

  h2.textlarge {
    padding-left: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
